@import "tailwindcss";

@theme {
  --color-bg: #DCE2F2;
  --color-surface: #F2F2F2;
  --color-text: #152158;
  --color-primary: #3051d9;
  --color-secondary: #808bf2;
  --color-accent: #e36419;
  --color-primary-hover: #1c328c;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}