@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #DCE2F2;
  --color-surface: #F2F2F2;
  --color-surface-shadow: #e4eaf5;
  --color-text: #152158;
  --color-primary: #3051d9;
  --color-secondary: #808bf2;
  --color-accent: #e36419;
  --color-primary-hover: #1c328c;
  --color-dark-bg: #1e2124;
  --color-dark-surface: #282b30;
  --color-dark-surface-shadow: #424549;
  --color-dark-secondary: #ffc0cb;
  --color-dark-text: #E0E0E0;


;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}